body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #logo{
  background: url('http://fanaru.com/fantasy-art/image/232259-fantasy-art-a-burning-rose.gif');
  background-size: 'auto'
} */

.navHead:visited {
  color: #FFF;
}
.navHead:hover {
   color: #FFF
}
.navLink{
  color: #FFF;
}

.navHome:visited {
  color: 'black';
}
.navHome:hover {
   color: 'black'
}

.badge1 {
  position:relative;
}
.badge1[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-10px;
  right:-10px;
  font-size:.7em;
  background: red;
  color:black;
  width:18px;height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}

.brick-bg{
  background-image: url('https://www.dynamicevents.ie/wp-content/uploads/2015/08/Bricks-Texture-Black-Background-800x800.jpg');
  
}
 

div.brick-bg > * {
  color: white;
}


